# Ignore the kohya_ss_lora folder
/kohya_ss_lora/

# Optionally, you might want to ignore some common Python-related files and directories:
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ignore virtual environment folders if you're using them
venv/
env/
ENV/

# Ignore IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db